In [41]:
import pandas as pd
import numpy as np

import pyspark

from pydataset import data

from pyspark.sql.functions import col, expr, lit

from pyspark.sql.functions import concat, sum, avg, min, max, count, mean

In [ ]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [5]:
mpg = spark.createDataFrame(data("mpg"))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [10]:
mpg.select('cyl').show(5)

+---+
|cyl|
+---+
|  4|
|  4|
|  4|
|  4|
|  6|
+---+
only showing top 5 rows

In [32]:
mpg.select(expr('cyl'), expr('cyl + 1 AS cyll'),mpg.cyl.alias('yep') ).show(5)

+---+----+---+
|cyl|cyll|yep|
+---+----+---+
|  4|   5|  4|
|  4|   5|  4|
|  4|   5|  4|
|  4|   5|  4|
|  6|   7|  6|
+---+----+---+
only showing top 5 rows

In [36]:
mpg.printSchema()

root
 |-- manufacturer: string (nullable = true)
 |-- model: string (nullable = true)
 |-- displ: double (nullable = true)
 |-- year: long (nullable = true)
 |-- cyl: long (nullable = true)
 |-- trans: string (nullable = true)
 |-- drv: string (nullable = true)
 |-- cty: long (nullable = true)
 |-- hwy: long (nullable = true)
 |-- fl: string (nullable = true)
 |-- class: string (nullable = true)

In [40]:
mpg.select(mpg.cty.astype('string')).show(5)

+---+
|cty|
+---+
| 18|
| 21|
| 20|
| 21|
| 16|
+---+
only showing top 5 rows

The 1999 audi a4 has a 4 cylinder engine.

In [56]:
mpg.select(concat(lit('The '),mpg.year.cast('string'),lit(' '),mpg.manufacturer, lit(' '),mpg.model) ).show(5)

+-------------------------------------------------------------+
|concat(The , CAST(year AS STRING),  , manufacturer,  , model)|
+-------------------------------------------------------------+
|                                             The 1999 audi a4|
|                                             The 1999 audi a4|
|                                             The 2008 audi a4|
|                                             The 2008 audi a4|
|                                             The 1999 audi a4|
+-------------------------------------------------------------+
only showing top 5 rows